.mygrid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 50px;
    margin-top: 40px;

    padding: 10px;
}

@media (max-width:1700px) {
    .mygrid {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 30px;
        margin-top: 40px;
    }
}

@media (max-width:1500px) {
    .mygrid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;
        margin-top: 40px;
    }
}

@media (max-width:1000px) {
    .mygrid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px;
        margin-top: 40px;
    }
}


@media (max-width:800px) {
    .mygrid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        margin-top: 40px;
    }
}